  // No Home centralizei todo conteudo no centro e setei uma altura e largura fixa, para que na media eu só eu ajustasse conforme a tela
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: auto;
    width:600px;
    height:800px;
    padding: 10px;    
  }

  .card-home {
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: var(--bg-primary);
    padding: 40px;
    width: auto;
    height: auto;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 5px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }

  .card-content h1,
  h3 {
    text-align: center;
    font-size: '300';
    color: var(--text-primary);
  }

  .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  img {
    border-radius: 200px;
    border: 2px solid gray;
    width: 150px;
    height: 150px;
  }

  .card-footer p {
    color: var(--text-secondary);
    text-align: none;
    padding: 5%;
  }

  /* Estilos para telas com largura máxima de 768px */
@media (max-width: 768px) {
    .home{
      width:478px;
      height:900px;
      text-align: justify;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

/* Estilos para telas com largura máxima de 480px */
@media (max-width: 480px) {
    .home{
      width: 356px;
      margin-top: 50px;
      height:auto;
    }
}
