* {
    box-sizing: border-box;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: var(--bg-primary);
    box-shadow: 0 -6px 15px rgba(0, 0, 0, 0.3);
    gap: 20px;
    padding: 3%;    
}

.grid-exp{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3%;
}

// aqui aninhei todas as tags dentro desse elemento, graças ao Scss posso deixar um pouco mais enchuto o codigo
.grid-item {
    display: inline-grid;
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 100px;
    font-size: 30px;
    text-align: center;
    margin: 0px 20px 0px 20px;
    width: 320px;
    height: 350px;
    background: #434155;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);

    img {
        border-radius: 200px;
        border: 5px solid rgb(100, 100, 100);
        width: 90px;
        height: 90px;
    }

    h3{
        color: var(--text-secondary);
        font-size: 18px;
        text-align: justify;
    }
    
    h2{
        color: var(--text-secondary);
        font-size: 18px;
    }
    
    h1{
        color: var(--text-primary);
        font-size:21px;
    }
    
    a{
        color: var(--text-secondary);
        font-size:18px;
        cursor: pointer;
    }

}

.sonda{
    display: list;
    justify-content: center;
    align-content: center;
}

.arca{
    display: list;
    justify-content: center;
    align-content: center;
}


.exp-item{
    margin: 4%;    
}

// Esta midia terá como função alem de alinhar, irá manter os itens um embaixo do outro
@media (max-width: 768px) {
    .grid-exp{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
}

@media (max-width: 480px) {
    .title{
        h1{
            font-size: 65px;
        }        
    }

    .grid-exp{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
